.form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.input-group input {
  height: 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 100%;
}

.submit-button {
  background-color: #55b0e9;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #4f83ff;
}
.header .logo {
  display: inline-block;
  margin-top: 108px;
  vertical-align: top;
  background-position: 0 -51px;
  background-repeat: no-repeat;
  width: 155px;
  height: 30px;
}
.switch-form-button {
  text-decoration: none;
}
.logo {
  text-decoration: none;
}
.header_inner {
  position: relative;
  width: 743px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}
.img {
  margin: auto;
  display: block;
  margin-top: 1%;
}
.whole {
  display: flex;
}
.left-navigation {
  display: flex;
  flex-direction: column;
}
